{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags navbar_tags %}

{% block body_class %}d-flex-col justify-content-center container-xxl w-100 p-0 m-0{% endblock %}

{% block extra_css %}
{% comment %}
Delete the line below if you're just getting started and want to remove the welcome screen!
<link rel="stylesheet" href="{% static 'css/home_page.css' %}">
{% endcomment %}
{% endblock extra_css %}

{% block content %}

{% navbar page %}

<main class="card text-center overflow-hidden">
    {% picture page.page_bg format-{avif,webp,jpeg} width-{1440} sizes="100vw" %}<!-- поправить -->
    <div class="card-img-overlay" style="top: 5%; bottom: 5%;">
      {% for block in page.body %}
        {% if block.block_type == 'title' %}
          <div class="card-title"><h2>{{ block.value }}</h2></div>
        {% else %}
          {% if block.block_type == 'content' %}
            <div class="card-text">{{ block.value|richtext }}</div>
          {% endif %}
        {% endif %}
      {% endfor %}
    </div>
  </main>
{% endblock content %}

