{% extends "base.html" %}
{% load static wagtailimages_tags %}

{% block body_class %}d-flex-col justify-content-center container-xxl w-100 p-0 m-0{% endblock %}

{% block extra_css %}
{% comment %}
Delete the line below if you're just getting started and want to remove the welcome screen!
<link rel="stylesheet" href="{% static 'css/home_page.css' %}">
{% endcomment %}
{% endblock extra_css %}

{% block content %}
<header class="p-3">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-between">

        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-decoration-none">
          <img src="{% static 'img/Color_logo_no_background.svg' %}" class="" width="60" height="60">
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="#" class="nav-link px-2 text-secondary">Home</a></li>
          <li><a href="#" class="nav-link px-2">Features</a></li>
          <li><a href="#" class="nav-link px-2">Pricing</a></li>
          <li><a href="#" class="nav-link px-2">FAQs</a></li>
          <li><a href="#" class="nav-link px-2">About</a></li>
        </ul>

        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
          <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
        </form>

        <div class="text-end">
          <button type="button" class="btn btn-outline me-2">Login</button>
          <button type="button" class="btn btn-warning">Sign-up</button>
        </div>
      </div>
    </div>
  </header>

  <main class="card text-center overflow-hidden">
    {% picture page.page_bg format-{avif,webp,jpeg} width-{1440} sizes="100vw"%}
    <div class="card-img-overlay">
    {% for block in page.main %}
    {% if block.block_type == 'heading' %}
      <div class="card-title"><h2>{{ block.value }}</h2></div>
    {% else %}
    {% if block.block_type == 'paragraph' %}
      <div class="card-text">{{ block.value }}</div>
    {% else %}        
    {% picture block.value max-400x400 class="img-fluid"%}
    {% endif %}
    {% endif %}
    {% endfor %}
    </div>
  </main>

{% endblock content %}
